<form (ngSubmit)="signIn()" [formGroup]="loginForm">
  <ion-list>
    <ion-item no-lines no-padding>
      <ion-input
        type="email"
        placeholder="Email"
        formControlName="email"
        text-center>
      </ion-input>
    </ion-item>

    <ion-item no-lines no-padding>
      <ion-input
        type="password"
        placeholder="Senha"
        formControlName="passwd"
        text-center>
      </ion-input>
    </ion-item>

    <ion-item
      no-padding
      no-margin
      no-lines>
      <p margin-top *ngIf="!invalidLogin()" text-wrap>
        Você parece estar bêbado! <br>O Login ou senha são inválidos Hahaha
      </p>
      <p text-wrap *ngIf="(loginForm.get('email').hasError('required') || loginForm.get('passwd').hasError('required')) && !invalidLogin()">Sei que está com sede, mas não esqueça de prencher tudo!</p>
    </ion-item>

    <ion-item no-padding no-margin no-lines>
      <button
      margin-top
      type="submit"
      ion-button
      full
      color="primary">
        Entre e tome uma cerveja!
      </button>
    </ion-item>
  </ion-list>
</form>
<ion-row margin-top>
  <ion-col no-padding no-lines>
    <button
    type="button"
    ion-button
    full
    (click)="signUp()"
    color="primary">
      Cadastrar
    </button>
  </ion-col>
</ion-row>