<form (ngSubmit)="addBeer()" [formGroup]="beerForm">
  <ion-list>
    <ion-item no-lines no-padding no-margin>
      <ion-input
      formControlName="name"
      type="text"
      placeholder="Nome do rótulo"
      text-center>
      </ion-input>
    </ion-item>

    <ion-item no-lines no-padding no-margin>
      <ion-input
      formControlName="brewery"
      type="text"
      placeholder="Cervejaria"
      text-center>
      </ion-input>
    </ion-item>

    <ion-item no-lines no-padding no-margin>
      <ion-input
      formControlName="price"
      type="text"
      placeholder="Preço"
      text-center>
      </ion-input>
    </ion-item>

    <ion-item no-lines no-padding no-margin>
      <ion-label>País de origem</ion-label>
      <ion-select formControlName="countryOrigin">
        <ion-option *ngFor="let country of getCountries()" [value]="country.id">{{ country.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines no-padding no-margin>
      <ion-input
      formControlName="abv"
      type="text"
      placeholder="Alcool por volume"
      text-center>
      </ion-input>
    </ion-item>

    <ion-item no-lines no-padding no-margin>
      <ion-input
      formControlName="ibu"
      type="text"
      placeholder="Unidade internacional de amargor"
      text-center>
      </ion-input>
    </ion-item>
    
    <ion-item no-lines no-padding no-margin>
      <ion-label>Cor</ion-label>
      <ion-select formControlName="color">
        <ion-option *ngFor="let color of getColors()" [value]="color.id">{{ color.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines no-padding no-margin>
      <ion-label>Tipo de embalagem</ion-label>
      <ion-select formControlName="packing">
        <ion-option *ngFor="let packing of getPackingTypes()" [value]="packing.id">{{ packing.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines no-padding no-margin>
      <ion-label>Estilo</ion-label>
      <ion-select formControlName="style">
        <ion-option *ngFor="let style of getStyles()" [value]="style.id">{{ style.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines no-padding no-margin>
      <ion-label>Aroma</ion-label>
      <ion-select formControlName="aroma">
        <ion-option *ngFor="let aroma of getAromas()" [value]="aroma.id">{{ aroma.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines no-padding no-margin>
      <ion-label>Sabor</ion-label>
      <ion-select formControlName="flavor">
        <ion-option *ngFor="let flavor of getFlavors()" [value]="flavor.id">{{ flavor.name }}</ion-option>
      </ion-select>
    </ion-item>
  
    <ion-item no-lines no-padding no-margin>
      <ion-textarea
      formControlName="beerHead"
      placeholder="Descreva o colarinho">
      </ion-textarea>
    </ion-item>

    <ion-item no-padding no-margin no-lines>
      <button
      type="submit"
      ion-button
      full
      color="primary">
        Adicionar
      </button>
    </ion-item>
  </ion-list>
</form>