<form (ngSubmit)="addTasting()" [formGroup]="tastingForm">
  <ion-list>
    <ion-item no-lines no-padding no-margin>
      <ion-select formControlName="location">
        <ion-option *ngFor="let location of getLocations()" [value]="location.id">{{ location.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines no-padding no-margin>
      <ion-textarea
        type="text"
        placeholder="Anotações"
        formControlName="notes"
        text-center>
      </ion-textarea>
    </ion-item>

    <ion-item no-lines no-padding no-margin>
      <ion-input
      type="text"
      placeholder="Temperatura em celsius"
      formControlName="beerDegrees"
      text-center>  
      </ion-input>     
    </ion-item>
    
    <ion-item no-lines no-padding no-margin>
      <ion-select formControlName="rating">
        <ion-option *ngFor="let rating of getRatings()" [value]="rating">{{ rating }}</ion-option>
      </ion-select>      
    </ion-item>

    <ion-item no-lines no-padding no-margin>
      <ion-select formControlName="beer"> 
        <ion-option *ngFor="let beer of getBeers()" [value]="beer.id">{{ beer.name }}</ion-option>       
      </ion-select> 
    </ion-item>

    <ion-item no-padding no-margin no-lines>
      <button
      type="submit"
      ion-button
      full
      color="primary">
        Adicionar
      </button>
    </ion-item>
  </ion-list>
</form>